<div class="middleform utrack">
<div id="header">
		The Bard
		<img src=<%= image_path("logo.png")%> id="logo"></img>
</div>
<%= form_for @track, html: { multipart: true } do |f| %>
	<%= f.label :audio %> File:
	<%= f.file_field :audio %>
	<%= f.submit "Upload", class: "btn btn-primary" %>
<% end %>
<a href="/tracks">Back</a>
 </div>